.navbar a {
	font-size: 35px;
    font-weight: bold;
	color: rgb(241, 243, 248);
	text-decoration:none;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXTrqbCLRsQzLenrndd1IiHphijOs43Kwopg&usqp=CAU);
}

.admin {
    position: relative;
    padding: 50px 100px;
    margin: 50px;
    text-align: center;
};

.admin_pendings {
    margin-top: 40px;
}
.admin_pendings h2{
    margin-top: 80px;
    font-style: italic;
}

