.dropM {
	position: absolute;
	width: 220px;
	margin-top: 0.8em;
	list-style: none;
	background-color: white;
	z-index: 1;
	padding: 0;
	box-shadow: rgba(183, 141, 141, 0.24) 0px 3px 8px;
	display: grid;
	grid-template-columns: auto;
}

.dropM a {
	cursor: pointer;
	padding: 10px 10px;
	font-size: 16px;
	color: rgb(20, 20, 20);
	margin: 0px;
}

.dropM a:hover {
	color: white;
	background-color: #222b2f;
}

.dropM.clicked {
	display: none;
}

@media only screen and (max-width: 768px) {
	.dropM {
		right: 160px;
		width: 230px;
		border-radius: 5px;
	}
}
