.highSchoolMain {
	margin: 30px;
	padding-bottom: 10em;
	text-align: center;
}

.mainResourceDetails {
	width: 80%;
	text-align: center;
}
.resourceCategory {
	margin: 40px;
	font-size: 2em;
	text-align: center;
	background: -webkit-linear-gradient(#dfdfdf, #bebebe);
	height: 60px;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
}
.resourceP {
	margin-top: 2em;
	margin-bottom: 4em;
	font-size: 20px;
	line-height: 1.8;
}

.resourceMainBtn {
	display: flex;
	justify-content: center;
}
.resourceMainBtn div {
	margin: 20px;
}

/* Single resource */

.resource-heading {
	margin: 40px;
	margin-left: 300px;
}

.resource-text {
	text-align: center;
	height: auto;
	width: 1000px;
	margin-left: 200px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.resource-text p {
	text-align: left;
	padding: 100px;
}

.resource-card h4 {
	margin-bottom: 30px;
}

/* resource into  */

.resources-intro {
	height: 600px;
	text-align: center;
	background-image: linear-gradient(60deg, #ffb800, #ffffff);
}

.resources-h2 {
	margin: 30px;
}

.search-resource {
	height: 250px;
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.resource-arr {
	padding-bottom: 100px;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 60px;
}

.resource-arr a {
	text-decoration: none;
}

.resource-arr p {
	font-size: 12pt;
}

@media (max-width: 1024px) {
	.resource-arr {
		grid-template-columns: 1fr 1fr;
	}
	.resource-text {
		margin-left: 60px;
		height: auto;
		width: 600px;
	}
	.resource-heading {
		margin-left: 60px;
	}
}
@media (max-width: 767px) {
	.resource-arr {
		grid-template-columns: 1fr;
	}
	.resource-text {
		height: auto;
		width: 400px;
		margin-left: 10px;
	}
	.resource-heading {
		margin-left: 30px;
	}
}
