.highSchoolMain {
	margin: 30px;
	padding-bottom: 10em;
	text-align: center;
}

.mainResourceDetails {
	width: 80%;
	text-align: center;
}
.resourceCategory {
	margin: 40px;
	font-size: 2em;
	text-align: center;
}
.resourceP {
	margin-top: 1em;
	margin-bottom: 4em;
	font-size: 20px;
	line-height: 1.5em;
}

.resourceMainBtn {
	display: flex;
	align-items: left;
}
.resourceMainBtn div {
	margin: 20px;
}

/* Single resource */

.resource-heading {
	margin-left: 200px;
}

.resource-text {
	margin-left: 200px;
	align-items: center;
	text-align: center;
	height: 500px;
	width: 1100px;
	background-color: #f4f4f4;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.resource-text p {
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 250px;
}

.resource-card h4 {
	margin-bottom: 30px;
}

/* resource into  */

.resources-intro {
	height: 600px;
	background-color: yellow;
	background-repeat: no-repeat;
	background-size: 900px;
	text-align: center;
}

.resources-h2 {
	margin: 30px;
}

.search-resource {
	height: 250px;
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.resource-arr {
	padding-bottom: 100px;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 60px;
}

.resource-arr a {
	text-decoration: none;
}

.resource-arr p {
	font-size: 12pt;
}

@media (max-width: 1200px) {
	.resource-text {
		height: 300px;
		width: 800px;
	}
}

@media (max-width: 1024px) {
	.resource-arr {
		grid-template-columns: 1fr 1fr;
	}
	.resource-text {
		height: 300px;
		width: 600px;
	}
}
@media (max-width: 768px) {
	.resource-arr {
		grid-template-columns: 1fr;
	}
	.resource-text {
		height: 300px;
		width: 400px;
	}
}
