.highSchoolMain {
	margin: 30px;
	padding-bottom: 10em;
	text-align: center;
}

.subHeaderResources {
	color: #666;
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
}
.subHeaderResources:after {
	display: block;
	content: "";
	border-bottom: solid 3px #1b1b1b;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}
.subHeaderResources:hover:after {
	transform: scaleX(1);
}
.subHeaderResources.fromLeft:after {
	transform-origin: 0% 50%;
}

.mainResourceDetails {
	width: 80%;
	text-align: center;
}

.resourceP {
	margin-top: 2em;
	margin-bottom: 4em;
	font-size: 20px;
	line-height: 1.8;
}

.resourceMainBtn {
	margin: 0px 150px 0px 150px;
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: 20% 10% 45% 35%;
}

.resourceMainBtn button {
	font-weight: bold;
	padding: 15px;
	width: max-content;
}

.resourceMainBtn div {
	margin: 20px;
}

/* Single resource */

.resource-heading {
	margin: 40px;
	margin-left: 300px;
}

.resource-text {
	text-align: center;
	height: auto;
	width: 1000px;
	margin-left: 200px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.resource-text p {
	text-align: left;
	padding: 100px;
}

.resource-card {
	display: flex;
	justify-content: center;
	height: auto;
}

.resource-card h4 {
	margin-bottom: 30px;
}

/* resource into  */

.resources-intro {
	margin-bottom: 2em;
	height: 400px;
	text-align: center;
	background-image: linear-gradient(60deg, #ffb800, #ffffff);
}
.resources-intro h4 {
	line-height: 1.5em;
}

.resources-h2 {
	margin: 30px;
}

.search-resource {
	height: 250px;
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.resource-arr {
	padding-bottom: 100px;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 60px;
}

.resource-arr a {
	text-decoration: none;
}

.resource-arr p {
	font-size: 12pt;
}

@media (max-width: 1024px) {
	.resource-arr {
		grid-template-columns: 1fr 1fr;
	}
	.resource-text {
		margin-left: 60px;
		height: auto;
		width: 600px;
	}
	.resource-heading {
		margin-left: 60px;
	}

	.resourceMainBtn {
		margin: 10px 250px 10px 250px;
		padding-bottom: 30px;
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 767px) {
	.resource-arr {
		grid-template-columns: 1fr;
	}
	.resource-text {
		height: auto;
		width: 400px;
		margin-left: 10px;
	}
	.resource-heading {
		margin-left: 30px;
	}

	.resourceMainBtn {
		margin: auto;
		display: grid;
		grid-template-columns: 12% 3% 57% 28%;
	}
}
