/* .user_details{
    width: 25%;
    margin: auto;
    text-align: justify;
   margin-top: 100px;
   margin-bottom: 200px;
   background-color: whitesmoke;
}
.user_details button{
    background-color: skyblue;
}
.user_details .welcome{
    margin-bottom: 10px;
}
.user_details .details{
    margin-top: 15px;
} */

h1,
h2 {
	font-weight: 700;
	margin: 0px 0px 5px 0px;
}

h1 {
	font-size: 27px;
}

h2 {
	font-size: 16px;
}

p {
	margin: 0px;
}

.user_details {
	margin-top: 900px;
}
.profile-card {
	background: #ffb300;
	/* width: 50%;
  height: 56px; */
	position: relative;
	left: 50%;
	top: 50%;
	/* z-index: -1; */
	overflow: auto;
	opacity: 0;
	margin-top: 70px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
		0px 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
	-webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			forwards,
		moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
		moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
		materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
	animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
		moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
		moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
		materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
	width: 179px;
	height: 280px;
	padding: 40px 20px 30px 20px;
	display: inline-block;
	border-right: 2px dashed #eeeeee;
	background: #ffffff;
	color: #000000;
	margin-top: 50px;
	opacity: 0;
	text-align: center;
	-webkit-animation: moveIn 1s 3.1s ease forwards;
	animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
	color: rgb(92, 209, 248);
}

.profile-card header a {
	display: inline-block;
	text-align: center;
	position: relative;
	margin: 25px 30px;
}

.profile-card header a > img {
	width: 40%;
	max-width: 100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: -webkit-box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	-webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.profile-card header a:hover > img {
	-webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-bio {
	width: 175px;
	height: 180px;
	display: inline-block;
	padding: 50px 20px 30px 20px;
	background: #ffffff;
	color: #333333;
	margin-top: 50px;
	text-align: center;
	-webkit-animation: moveIn 1s 3.1s ease forwards;
	animation: moveIn 1s 3.1s ease forwards;
}

@keyframes init {
	0% {
		width: 0px;
		height: 0px;
	}
	100% {
		width: 56px;
		height: 56px;
		margin-top: 0px;
		opacity: 1;
	}
}

/* @-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
} */

@keyframes moveDown {
	0% {
		top: 50%;
	}
	50% {
		top: 40%;
	}
	100% {
		top: 100%;
	}
}

@-webkit-keyframes moveUp {
	0% {
		background: #ffb300;
		top: 100%;
	}
	50% {
		top: 40%;
	}
	100% {
		top: 50%;
		background: #e0e0e0;
	}
}

@keyframes moveUp {
	0% {
		background: #ffb300;
		top: 100%;
	}
	50% {
		top: 40%;
	}
	100% {
		top: 50%;
		background: #e0e0e0;
	}
}

@-webkit-keyframes moveIn {
	0% {
		margin-top: 50px;
		opacity: 0;
	}
	100% {
		opacity: 1;
		margin-top: -20px;
	}
}

@keyframes moveIn {
	0% {
		margin-top: 50px;
		opacity: 0;
	}
	100% {
		opacity: 1;
		margin-top: -20px;
	}
}

@-webkit-keyframes scaleIn {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@keyframes scaleIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (min-height: 480px) {
	.profile-card header {
		width: auto;
		height: auto;
		padding: 30px 20px;
		display: block;
		float: none;
		border-right: none;
	}
	.profile-card .profile-bio {
		width: auto;
		height: auto;
		padding: 15px 20px 30px 20px;
		display: block;
		float: none;
	}

	@keyframes materia {
		0% {
			background: #e0e0e0;
		}
		50% {
			border-radius: 4px;
		}
		100% {
			width: 80%;
			height: 80%;
			background: #ffffff;
			border-radius: 4px;
		}
	}
}

.list {
	align-content: end;
}
