.subHeaderResources {
	font-size: 2em;
	margin: 2em;
}
.create-mentor-form {
	text-align: center;
	font-size: larger;
	font-weight: bolder;
	width: 850px;
	margin: auto;
	margin-top: 80px;
	padding-bottom: 5em;
	color: whitesmoke;
}

.mentor-form {
	margin-top: 40px;
	text-align: center;
	font-family: monospace;
	align-items: center;
	display: flex;
	padding: 60px;
	flex-direction: column;
	margin-bottom: 40px;
	background-color: #222b2f;
	border-radius: 30px;
}

.create-mentor-form input {
	font-size: 18px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.create-mentor-form textarea {
	border-radius: 5px;
	padding: 10px;
	margin: 8px;
}

.create-mentor-submit {
	margin: 10px;
	width: 120px;
	background-color: white;
	margin: 10px;
	color: black;
	border-radius: 5px;
	border: 1px solid white;
}

.create-mentor-submit:hover {
	opacity: 0.8;
}

@media (max-width: 912px) {
	.create-mentor-form {
		font-size: medium;
		width: 600px;
		margin: auto;
		margin-top: 80px;
	}

	.create-mentor-form textarea {
		width: 250px;
	}
}

@media (max-width: 750px) {
	.create-mentor-form {
		font-size: medium;
		width: 500px;
		margin: auto;
		padding: auto;
	}
	*/ .create-mentor-form textarea {
		width: 250px;
	}
}

@media (max-width: 480px) {
	.createMentorImg {
		width: 300px;
		height: 300px;
	}
	.create-mentor-form {
		font-size: medium;
		width: 400px;
	}

	.create-mentor-form input {
		width: 300px;
	}

	.create-mentor-form textarea {
		width: 300px;
	}
}
