/* .create-user-form {
	background-color: #4cadde;
	border-radius: 20px;
	text-align: center;
    font-size: larger;
    font-weight: bolder ;
    width: 850px;
    margin: auto;
    padding-bottom: 1em;
    color: whitesmoke;
	margin-top: auto;
	margin-top: 5%;
} */

.title {
	color: rgb(37, 37, 37);
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}

.subtitle {
	color: rgb(63, 62, 62);
	font-family: sans-serif;
	font-size: 25px;
	text-align: center;
}

.subtitle-2 {
	color: rgb(63, 62, 62);
	font-family: sans-serif;
	text-align: center;
	font-size: 17px;
	margin-bottom: 10px;
}

.input {
	gap: 25px;
	background-color: white;
	margin-top: 10px;
	border-radius: 30px;
	font-size: larger;
	width: 250px;
	border-radius: 10px;
	margin: 8px;
}

.submit {
	width: 120px;
	margin: auto;
	border: 3px solid rgb(77, 77, 77);
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
}

.submit:active {
	background-color: rgb(117, 193, 255);
}
