
form{
    height: 55%;
    width: 60%;
    background-color: #4cadde;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(1,2,4,0.7);
    padding: 50px 35px;
    z-index: -1; 
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #f7f2f2;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    text-align: center;
}

.login {
    display: block;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.68);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #683c3c;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #1f56e3b2;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
#password{
    color: black;
}
#username{
    color: black;
}