.cards {
    gap: 3rem;
    padding: 0px;
    list-style-type: none;
   
  }

  .card__content {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none; 
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: black;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    font-size: medium;
  }     

  .card__email{
    font-style: italic;
  }

  .card__speciality{
    font-style: italic;
  }
  .card__title{
    font-style: bold;
    font-size:33px;
  }

  .card__thumb img{
    width: 70%;
  }