
.cards {
    display: grid;
    grid-template-columns: repeat( 1, minmax(500px, 1fr) );
    gap: 2rem;
    /* margin: 4rem 5vw; */
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 110%;
    height: auto;

  }

  .card__image:hover{
      opacity: 0.50;
  }

  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
    
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-150%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 80px;
    height: 80px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 20px;
    margin: 0 0 .3em;
    color: black;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: 14px; 
    color: black;  
  }
  
  .card__status {
    font-size: 20px;
    color: black;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: black;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
  }    