.aboutContainer {
	display: flex;
	justify-content: center;
}
.valuesContainer {
	display: flex;
	flex-direction: column;
}
.eachContainer {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: flex;
	justify-content: space-evenly;
	margin: 1em;
	padding: 2em;
	background-color: #222b2f;
}
.values {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 30px;
	background-color: #222b2f;
}

.about {
	padding: 40px;
	display: flex;
	flex-direction: column;
}
.aboutDescrption {
	color: white;
}

.about h2 {
	margin: auto;
	padding: 40px;
	margin: 40px;
	text-align: center;
}
.about span {
	border-bottom: 2px solid rgb(82, 79, 79);
	font-size: 18px;
}

.about p {
	color: white;
	width: 50%;
	font-size: 18px;
	margin: auto;
	text-align: center;
	line-height: 2;
}
@media (max-width: 700px) {
	.aboutContainer {
		display: block;
	}
	.values {
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		padding: 5px;
	}
	.about p {
		width: 100%;
		font-size: 10px;
		padding: 1em;
		text-align: center;
		line-height: 1.8;
	}
	.valuesContainer {
		margin: 0em;
	}
}
