.aboutContainer {
	display: flex;
	justify-content: center;
}
.valuesContainer {
	display: flex;
	flex-direction: column;
	border: 1px solid white;
	margin: 1em;
}
.eachContainer {
	border: 1px solid white;
	display: flex;
	justify-content: space-evenly;
	margin: 1em;
	padding: 2em;
}

/* // prev code  */

.about {
	margin: 40px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	background-color: #292929;
}
.aboutDescrption {
	color: white;
}

.about h2 {
	color: white;
	margin: auto;
	padding: 40px;
	text-align: center;
}
.about span {
	color: white;
	border-bottom: 2px solid white;
}

.about p {
	color: white;

	width: 60%;
	margin: auto;
	text-align: center;
	line-height: 1.6;
}
