* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* TYPOGRAPHY */

/* Importing Font */

/* Regular */

/* Italics */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap");

h1 {
	font-family: "Roboto", sans-serif;
	letter-spacing: 1px;
}

h2 {
	font-family: "Roboto", sans-serif;
}

h3 {
	font-family: "Roboto", sans-serif;
}

h4 {
	font-family: "Roboto", sans-serif;
}

h5 {
	font-family: "Roboto", sans-serif;
}

h6 {
	font-family: "Roboto", sans-serif;
}

p {
	font-family: "Roboto", sans-serif;
}

------------------------------ HOME --------------------------------------
/* HERO PAGE */
/* .home {
	position: relative;
} */

.Hero-text {
	z-index: 9;
}

.Hero .Hero-text h1 {
	color: white;
	font: bold 60px Poppins, sans-serif;
	text-align: center;
	padding-top: 300px;
	font-weight: 600;
	/* position: relative; */
	z-index: 2;
}

.Hero .Hero-text h3 {
	text-align: center;
	/* position: relative; */
	z-index: 9;
	color: white;
}

.Hero {
	margin: 0;
	height: 100vh;
	/* background-image: url("https://cdn.dribbble.com/users/1626229/screenshots/14556747/media/ceb42cd2838a68f02e27032469c01870.jpg"); */
	margin-bottom: 110px;
	background-color: #cccccc;
	background-size: cover;
}

.Hero-text h1 {
	margin-top: 0;
	font-size: 40pt;
}

.joinUs {
	margin: 30px;
	padding: 30px;
	display: flex;
	justify-content: center;
}

.joinus div {
	margin: 30px;
}

/* Making button lettes spread out on hover*/

.joinUs button {
	text-transform: uppercase;
	color: #9dfdff;
	cursor: pointer;
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	text-decoration: none;
	transition-duration: 0.6s;
	transition-timing-function: ease;
}

.joinUs button h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.joinUs button:hover,
.joinUs button:active {
	letter-spacing: 5px;
	color: white;
}

.joinUs button:after,
.joinUs button:before {
	backface-visibility: hidden;
	border: 1px solid #00024b38;
	bottom: 0px;
	content: " ";
	display: block;
	margin: 0 auto;
	position: relative;
	transition: all ms ease-in-out;
	width: 0;
}

.joinUs button:hover:after,
.joinUs button:hover:before {
	backface-visibility: hidden;
	border-color: #dbdbdb;
	transition: width 380ms ease-in-out;
	width: 100%;
}

.joinUs button:hover:before {
	bottom: auto;
	top: 0;
	width: 100%;
}

.joinUs a {
	text-decoration: none;
}

.introduction h1 {
	text-align: center;
}

.intro-container {
	width: 80%;
	margin: 60px;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 120px;
	margin-bottom: 120px;
}

.intro-container p {
	color: black;
	font-size: 20px;
	font-family: sans-serif;
}

@media (max-width: 750px) {
	.intro-container p {
		font-size: 15px;
	}

	.Hero .Hero-text h1 {
		font-size: 40px;
	}

	.Hero .Hero-text h3 {
		font-size: 20px;
	}

	.joinUs h3 {
		font-size: 15px;
	}

	.services-icons {
		flex-direction: column;
	}
	.services-icons img {
		height: 300px;
	}
	.intro-container p {
		font-size: 10px;
	}
}

@media (max-width: 1024px) {
	.intro-container {
		margin-top: 30px;
		display: list-item;
		list-style: none;
	}

	.intro-container img {
		height: 180px;
		margin-bottom: 30px;
	}
	.intro-container p {
		font-size: 10px;
	}
}

.rule {
	margin: auto;
	text-align: center;
	width: 300px;
}

.services-icons {
	width: 95%;
	display: flex;
	justify-content: space-around;
}

.services-icons img {
	height: 200px;
}

.services-icons div {
	text-align: center;
	display: inline-block;
}

.visit-site-button {
	padding-left: 50px;
	width: 250px;
}

.mentors-array {
	display: grid;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	column-gap: 20px;
	row-gap: 40px;
}

.resources-intro {
	background-image: url
		(
			"https://childrensnational.org/-/media/cnhs-site/images/careers-and-training/gme/residency/pediatrics/launch-track-residents.jpg?h=400&la=en&w=600&hash=CF941CE970B09BAD8C7AAC22AC313764A822D015"
		);
}

.upload-intro {
	margin-left: 220px;
}
