body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* TYPOGRAPHY */

/* Importing Font */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap");

h1 {
	font-size: 72pt;
	font-family: "Abril Fatface", cursive;
}

h2 {
	font-size: 32pt;
	font-family: "Abril Fatface", cursive;
}

h3 {
	font-size: 24pt;
	font-family: "Abril Fatface", cursive;
}

h4 {
	font-family: 18pt;
	font-family: "Abril Fatface", cursive;
}

p {
	font-size: 16pt;
	font-family: "Roboto", sans-serif;
}

/* Regular */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,700&display=swap");

/* Italics */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,700&display=swap");

h1 {
	/* font-size: 40pt; */
	font-family: "Open Sans", sans-serif;
}

h2 {
	/* font-size: 32pt; */
	font-family: "Open Sans", sans-serif;
}

h3 {
	/* font-size: 15pt; */
	font-family: "Open Sans", sans-serif;
}

h4 {
	/* font-family: 18pt; */
	font-family: "Open Sans", sans-serif;
}

p {
	/* font-size: 16pt; */
	font-family: "Open Sans", sans-serif;
}

/* ------------------------------    HOME  -------------------------------------- */

/* HERO PAGE */

.Hero-text {
	width: 1000px;
	margin-left: 125px;
	text-align: left;
	position: relative;
	z-index: 9;
}

.Hero .Hero-text h1 {
	background: -webkit-linear-gradient(#574d68, #f3a712);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 700px;
	margin-left: 125px;
	text-align: left;
	padding-top: 250px;
	font-weight: 700;
	position: relative;
	z-index: 2;
}

.Hero .Hero-text h3 {
	position: relative;
	z-index: 9;
}

.Hero {
	margin: 0;
	background-color: #1d3461;
	height: 100vh;
	margin: 0;
	background-image: url("https://cdn.dribbble.com/users/1626229/screenshots/14556747/media/ceb42cd2838a68f02e27032469c01870.jpg");
	height: 100vh;
	margin-bottom: 110px;
}

.Hero-text h1 {
	/* margin on top of H1 causes space between navbar and content */
	margin-top: 0;
	font-size: 40pt;
}

.introduction h2 {
	text-shadow: 1px 1px 1px rgb(138, 124, 197), 2px 2px 1px rgb(71, 136, 180);
}

.intro-container {
	margin: 110px;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.intro-container p {
	color: rgb(69, 51, 141);
	font-size: x-large;
}

.about-intro {
	margin-left: 150px;
	text-align: left;
	width: 500px;
}

.resources-intro {
	color: white;
	background-color: #011638;
	height: 300px;
	
}

.resources-intro-text {
	margin: auto;
	width: 800px;
}

.resources-h2 {
	margin-top: 0;
	text-align: center;
}

.resources-p {
	text-align: left;
}

.search-resource {
	height: 250px;
	background-color: #e8e9eb;
}


.resources-searchbar TextField {
	width: 200px;
}

.resource-arr {
	padding-bottom: 100px;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 60px;
}

.resource-arr a {
	text-decoration: none;
}

.resource-arr p {
	font-size: 12pt;
}

/* Single resource */

.resource-heading {
	text-align: left;
	margin-left: 200px;
}

.resource-text {
	text-align: left;
	margin-left: 275px;
	height: 500px;
	width: 1100px;
	background-color: #f4f4f4;
}

.resource-text p {
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 250px;
	text-align: left;
	margin-left: 50 px;
}

.visit-site-button {
	padding-left: 50px;
	width: 250px;
}

/* background-color: #F4F4F4; */

.mentors-array {
	display: grid;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	grid-template-columns: 300px 300px 300px;
	column-gap: 20px;
	row-gap: 40px;
}
